.adviceContainer {
    padding-top: 0px;
    background-color: #4F7986;
    height: auto;
    font-family: 'Courgette', cursive;
}   
.myForm {
    text-align: left;
    margin-left: 20px;
    max-width: 960px;
    margin: 0vw 20vw;
}
.myList {
    text-align: left;
    margin: 20px 15px 30px 15px;
    margin: 4vw 20vw;
    border: solid black 2px;
    background-color: #CBD6DA;
    border-radius: 15px;
    box-shadow: 0px 12px 18px -6px black;
    max-width: 960px;
    
}
.advice {
    text-align: left;
    margin: 0px;
}
.name {
    text-align: left;
    margin: 0px;
    font-family: 'Courgette', cursive;
}
.nameBox {
    width: 60vw;
    max-width: 960px;
    border: solid black 2px;
    margin-bottom: 35px;
}
.adviceBox {
    margin-bottom: 15px;
    width: 60vw;
    max-width: 960px;
    height: 20px;
    border: solid black 2px;
}
.myListButton, .myButton {
    margin-bottom: 10px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    margin-left: 15px;
    background-color: #c9d1c8;
    color: #211f30;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
    font-size: 16px
}
.myButton {
    margin-bottom: 10px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    margin: 0px;
    background-color: #c9d1c8;
    color: #211f30;
    font-weight: bold;
    font-family: 'Overpass', sans-serif;
    font-size: 16px
}
h2 {
    text-align: center;
    font-family: 'Courgette', cursive;
    font-weight: lighter;
    margin-top: 0px;
    padding-top: 10px;
    font-size: 35px;
    color: #211f30;
}
.adName {
    color: #211f30;
    padding-left: 15px;
    margin: 10px 0px;
    font-weight: bold;
    font-family: 'Courgette', cursive;
    font-size: 25px;
}
.adOutput {
    padding: 0px 15px;
    color: #211f30;
    font-size: 20px
}
.adBoxOutput {
    background-color: #4F7986;
}